@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");

*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #fff;
    background-color:#1f2029;
    min-height: 100vh;
    overflow-x: hidden;
}
.section-wrap{
    position: relative;
    display: block;
    width:100%;
    overflow: hidden;
}
.section{
    position: relative;
    max-width: calc(100%-40px);
    width: 860px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;

}

[type="radio"]:checked,
[type="radio"]:not(:checked){
    position:absolute;
    visibility: hidden;
    /* display: none; */
}
.color-btn:checked + label,
.color-btn:not(:checked) +label{
    position: relative;
    height: 40px;
    transition: all 200ms linear;
    border-radius: 4px;
    width:40px;
    overflow:hidden;
    border: none;
    cursor:pointer;
    color: #ffeba7;
    margin-right: 10px;
    box-shadow:0 12px 35px 0 rgba(16,39,112,0.25);
    z-index:10;
    background-position: center;
    background-size:cover;
    border:3px solid transparent;
}
.color-btn:checked + label{
    background-color: #434343;
    transform:scale(1.1);
    border:2px solid black;
}

label.color-1{
    background-image: url(./images/color1.jpg);
    margin-left:500px;
}
label.color-2{
    background-image: url(./images/color2.jpg) ;

}
label.color-3{
    background-image: url(./images/color3.jpg);

}
label.color-4{
    background-image: url(./images/color4.jpg);

}
label.color-5{
    background-image: url(./images/color5.jpg);

}
label.color-6{
    background-image: url(./images/color6.jpg);

}
.img-wrap{
    position: absolute;
    top:100px;
    left:0;
    display:inline-block;
    width:500px;
    height:410px;
    z-index: 9;
    transition: all 550ms linear;
    transition-delay: 100ms;
    background-position: center top;
    background-repeat:no-repeat;
    background-image: url(./images/chair1.png);
    opacity: 0;
    background-size: 100%;
}

.for-color-1:checked~ .img-wrap.chair-1{
    opacity:1;
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
}
.img-wrap.chair-2{
    background-image: url(./images/chair2.png);
}
.for-color-2:checked ~ .img-wrap.chair-2{
    opacity:1;
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
}
.img-wrap.chair-3{
    background-image: url(./images/chair3.png);
}
.for-color-3:checked ~ .img-wrap.chair-3{
    opacity:1;
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
}
.img-wrap.chair-4{
    background-image: url(./images/chair4.png);
}
.for-color-4:checked ~ .img-wrap.chair-4{
    opacity:1;
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
}
.img-wrap.chair-5{
    background-image: url(./images/chair5.png);
}
.for-color-5:checked ~ .img-wrap.chair-5{
    opacity:1;
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
}
.img-wrap.chair-6{
    background-image: url(./images/chair6.png);
}
.for-color-6:checked ~ .img-wrap.chair-6{
    opacity:1;
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

.back-color{
    position:fixed;
    display: block;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-image:linear-gradient(196deg, #f1a9a9,#e66767);
    transition: all 250ms linear;
    transition-delay:100ms ;
}


.back-color.chair-2{
    background-image: linear-gradient(196deg,#4c4c4c,#262626);
    opacity:0;
}
.for-color-2:checked~.back-color.chair-2{
    opacity: 1;
}
.back-color.chair-3{
    background-image: linear-gradient(196deg,#8a9fb2,#5f7991);
    opacity:0;
}
.for-color-3:checked ~ .back-color.chair-3{
    opacity: 1;
}
.back-color.chair-5{
    background-image: linear-gradient(196deg,#afa6a0,#8c7f76);
    opacity:0;
}
.for-color-5:checked ~ .back-color.chair-5{
    opacity: 1;
}
.back-color.chair-4{
    background-image: linear-gradient(196deg,#97afc3,#6789a7);
    opacity:0;
}
.for-color-4:checked ~ .back-color.chair-4{
    opacity: 1;

}
.back-color.chair-6{
    background-image: linear-gradient(196deg,#aaadac,#838786);
    opacity:0;
}
.for-color-6:checked ~ .back-color.chair-6{
    opacity: 1;
}

.info-wrap{
    position: relative;
    margin-left: 500px;
    z-index: 10;
    display: block;
    text-align: left;
}
.title-up {
    text-transform: uppercase;
}


h4{
    font-size: large;
    padding-top: 5px;
    padding-bottom:10px
}

h4 span{
    font-size: medium;
    opacity:0.8;
    text-decoration: line-through;
    font-weight: 300;
}

.desc-btn:checked + label,
.desc-btn:not(:checked) + label{
    opacity:0.5;
    transition: all 0.2s linear;
    margin-right:10px;
    cursor: pointer;
    line-height: 1.2px;
    font-weight: 800;
}
.desc-btn+label:hover {
    font-size: bold;
    opacity:0.8;
   
}
.desc-btn:checked + label {
    
    opacity:1;
   
}
.desc-sec{
    /* position:relative; */
    padding-top:20px;
    padding-bottom:30px;
    transform: translateY(20px);
    transition: all 250ms linear;
    opacity: 0;
    pointer-events: none;
}

.desc-sec.accor-2{
    position:absolute;
    top:25px;
    left:0;
    width:100%;
    z-index: 2;
}
#desc-1:checked ~ .desc-sec.accor-1{
    opacity:1;
    pointer-events: auto;
    transform: translateY(0);
} 
#desc-2:checked ~ .desc-sec.accor-2{
    opacity:1;
    margin-top:150px;
    pointer-events: auto;
    transform:translateY(0) ;
}


.section-inline{
    position:relative;
    display:inline-block;
    margin-right:20px;

}
.section-inline p span{
    font-size: 30px;
    line-height:1.1;
}
h5{
    z-index: 10;
    margin-left: 500px;
    padding:10px 0;
    font-size: 0.9rem;
    
}

.cart-btn{
    background-color:transparent;
    font-weight:500;
    line-height: 2;
    height:48px;
    border-radius:4px;
    display :inline-flex;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    color:#fff;
    box-shadow: 0 6px 15px 0 rgba(16,39,112,0.25);
    transition: all 250ms linear;
    text-decoration: none;
    padding:10px;
}
.cart-btn a{
    color:#fff;
    text-decoration: none;
}

.cart-btn:hover{
    background-color: #333;
    box-shadow: 0 12px 35px 0 rgba(16,39,112,0.25);
    transition:all 250ms linear;
}